<div class="card" *ngIf="hasError">
  <p-messages
    [(value)]="messages1"
    [enableService]="true"
    [closable]="true"
  ></p-messages>
</div>
<div class="card" *ngIf="isSuccess">
  <p-messages
    [(value)]="messages2"
    [enableService]="true"
    [closable]="true"
  ></p-messages>
</div>
<div>
  <h2 class="text-center text-3xl font-semibold m-5 text-yellow-800">
    Delete Employee
  </h2>
</div>
<div class="flex flex-row justify-center bg-gradient-to-r via-white shadow-lg">
  <form
    #formVal="ngForm"
    (change)="onChange(formVal)"
    (ngSubmit)="onSubmit(formVal)"
    class="flex flex-col w-2/6 justify-center m-5"
  >
    <div>
      <div class="card m-2">
        <label class="m-2">Enter ID : </label>
        <input type="number" name="id" pInputText ngModel />
      </div>
    </div>
    <div class="card m-2">
      <div class="text-left m-5">
        <p-button label="Submit" [disabled]="notEmpty" type="submit"></p-button>
      </div>
    </div>
  </form>
</div>
